# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
.env
.venv
env/
venv/
ENV/
VENV/
pip-freeze.txt
pip-requirements.txt

# Flask
instance/
*.sqlite
*.sqlite3
app.db # If you use this default name for SQLite
migrations/ # Flask-Migrate generated folder

# SQLite
*.db
*.db-journal
*.db-wal
*.db-shm

# IDEs and editors
.idea/
.vscode/
*.project
*.pydevproject
.DS_Store
*.swp
*.swo

# dotenv
.env.*
!.env.example # Keep .env.example

# Testing
htmlcov/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# Other
*.log
local_settings.py
